@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Gotham";
    src: url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url(../fonts/gothambold/gothambold1.woff) format("woff");
    font-weight: bold;
}

